body{
    all: unset;
    background-color: #dddd;
}
#wrapper{
    display: grid;
    width: 100%;
    grid-template-columns: 0.25fr 0.5fr 2fr 0.5fr 0.25fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas:
    "topbar topbar topbar topbar topbar"
    "leftBtn leftInfo content rightInfo rightBtn"
    "footer footer footer footer footer";
}
#header{
    grid-area: topbar;
    text-align: center;
    transition: opacity, 1.5s, linear, 0s;
}
#header>h1{
    margin-bottom: 0px;
    user-select: none;
}
#header>h2{
    margin-top: 0px;
    user-select: none;
}
#atm{
    grid-area: content;
    background-color: #aaaaaa40;
    text-align: center;
    display: grid;
    justify-content: normal;
}
#atm>h1{
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: olivedrab;
    user-select: none;
    visibility: visible;
    cursor: default;
}
.leftList{
    height: 100%;
    display: inline-grid;
    grid-area: leftBtn;
    text-align: center;
    font-size: 150%;
    color: #54378d;
    margin: auto 0px;
    padding: 0px 5px;
    align-content: space-between;
    list-style-type: none;
}
.leftList>li{
    background-color: #959595;
    width: 95px;
    margin-left: 41px;
    border-radius: 20px;
    transition: background-color, 250ms, linear, 250ms;
    user-select: none;
}
.leftList>li:hover{
    background-color: beige;
    cursor: pointer;
}
.rightList{
    height: 100%;
    display: inline-grid;
    grid-area: rightBtn;
    text-align: center;
    font-size: 150%;
    color: #54378d;
    margin: auto 0px;
    padding: 0px 5px;
    align-content: space-between;
    list-style-type: none;
}
.rightList>li{
    background-color: #959595;
    width: 95px;
    margin-right: 41px;
    border-radius: 20px;
    transition: background-color, 250ms, linear, 250ms;
    user-select: none;
}
.rightList>li:hover{
    background-color: beige;
    cursor: pointer;
}
#leftInfo{
    background-color: #aaaaaa49;
    text-align: left;
}
#leftInfo>ul{
    padding: 0px;
    list-style: none;
    align-content: space-between;
    display: grid;
    height: 100%;
    margin: 0px;
}
#leftInfo>ul>li{
    margin: 8px;
    user-select: none;
    visibility: hidden;
}
#rightInfo{
    background-color: #aaaaaa49;
    text-align: right;
}
#rightInfo>ul{
    list-style: none;
    align-content: space-between;
    display: grid;
    height: 100%;
    margin: 0px;
}
#rightInfo>ul>li{
    margin: 8px;
    user-select: none;
    visibility: hidden;
}
#btn1{
    margin: 15px 0px auto 0px
}
#btn2{
    margin: auto 0px auto auto
}
#btn3{
    margin: auto 0px 15px auto
}
.lang{
    visibility: visible!important;
}